* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  overflow-x: hidden;
  width: 100vw;
}

p {
  font-size: 16px;
}

.underline {
  text-decoration: underline green;
}

main {
  position: relative;
}

.main-header {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header .name {
  font-size: 24px;
  margin-bottom: 20px;
}

.main-header .social {
  width: 174px;
  display: flex;
  justify-content: space-around;
}

.main-header .social-icon {
  height: 20px;
  width: 20px;
}

.adam-img {
  height: 383px;
}

.intro {
  padding: 40px 16px;
}

.intro h1 {
  font-size: 40px;
}

.intro p:nth-of-type(1) {
  margin: 24px 0;
}

/* .intro p:nth-of-type(2) {
  margin-bottom: 40px;
} */

.experience-section {
  height: 604px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.language {
  font-size: 32px;
  font-weight: bold;
}

.experience {
  font-size: 16px;
  color: #d9d9d9;
  margin-top: 2px;
}

.projects-section {
  padding: 80px 16px;
  margin: 0 auto;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.projects-header h2 {
  font-size: 40px;
  font-weight: bold;
}

.projects-header p {
  text-transform: uppercase;
  font-size: 16px;
}

.project-card {
  height: 343px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card-header img {
  height: 253px;
}

.project-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.project-languages {
  display: flex;
}

.project-languages p {
  margin-right: 18px;
  font-size: 18px;
  color: #d9d9d9;
}

.project-samples {
  display: flex;
}

.project-samples p:nth-of-type(1) {
  margin-right: 30px;
}