* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  overflow-x: hidden;
  width: 100vw;
}

p {
  font-size: 16px;
}

hr {
  border: 1px solid #fff;
  width: 343px;
  margin: 0 auto;
}

.underline {
  text-decoration: underline green;
}

main {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

main .circle {
  position: absolute;
  right: -64.5px;
  bottom: 44%;
  z-index: 1;
}

main .rings {
  position: absolute;
  left: -310px;
  top: 124px;
  z-index: -1;
}

.right-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main
.img-top {
  position: absolute;
  top: 20px;
  width: 100%;
}

main .name {
  font-size: 24px;
  margin-bottom: 20px;
}

main .social {
  width: 174px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

main .social-icon {
  height: 20px;
  width: 20px;
}

.adam-img {
  height: 383px;
}

.intro {
  padding: 40px 16px;
}

.intro h1 {
  font-size: 40px;
}

.intro p:nth-of-type(1) {
  margin: 24px 0;
}

/* .intro p:nth-of-type(2) {
  margin-bottom: 40px;
} */

.experience-section {
  height: 604px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.experience-section
.rings {
  position: absolute;
  bottom: -64.5px;
  right: -340px;
  z-index: 12;
}

.language {
  font-size: 32px;
  font-weight: bold;
}

.experience {
  font-size: 16px;
  color: #d9d9d9;
  margin-top: 2px;
}

.projects-section {
  padding: 80px 16px;
  margin: 0 auto;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.projects-header h2 {
  font-size: 40px;
  font-weight: bold;
}

.projects-header p {
  text-transform: uppercase;
  font-size: 16px;
}

.project-card {
  height: 343px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card-header img {
  height: 253px;
}

.project-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.project-languages {
  display: flex;
}

.project-languages p {
  margin-right: 18px;
  font-size: 18px;
  color: #d9d9d9;
}

.project-samples {
  display: flex;
}

.project-samples p:nth-of-type(1) {
  margin-right: 30px;
}

.contact-footer {
  height: 834px;
  padding: 60px 16px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact-footer h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-footer p {
  font-size: 16px;
  line-height: 26px;
  color: #d9d9d9;
}
.contact-footer form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 327px;
  position: relative;
}

form .rings {
  position: absolute;
  bottom: 0;
  left: -340px;
}

form input,
form textarea {
  width: 343px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

form input {
  height: 43px;
  margin-bottom: 32px;
}

form textarea {
  height: 107px;
}

::placeholder {
  font-size: 16px;
  font-family: inherit;
  color: #d9d9d9;
}

form a {
  align-self: flex-end;
  font-size: 16px;
  margin-top: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

footer hr {
  margin-top: 87px;
}

footer .main-header {
  position: relative;
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  main
  .img-top {
    position: absolute;
    z-index: 1;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  main
  .img-top
  .social {
    margin: 0;
  }

  main
  .right-container {
    width: 40%;
  }

  main
  .right-container
  .adam-img {
    height: 600px;
  }

  main
  .intro {
    position: absolute;
    text-align: left;
    padding: 0;
    padding-left: 32px;
    /* overflow-x: visible; */
  }

  main
  .intro
  h1 {
    font-size: 72px;
    font-weight: bold;
    margin-top: 150px;
    width: 65%;
  }

  main
  .intro
  .about {
    width: 60%;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 60px;
  }

  main
  .circle {
    bottom: 0;
  }

  hr {
    width: 708px;
  }

  .experience-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 30px;
    text-align: left;
  }

  .experience-section
  .language {
    font-size: 48px;
  }

  .experience-section
  .experience {
    font-size: 18px;
  }

  .project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}